@model IEnumerable<Techie.Models.BlogPostViewModel>

    <p>
        <a class="btn btn-outline-success" asp-action="Create" asp-controller="Blogs">Add New Blog</a>
    </p>
    @foreach(var item in Model)
    {
    <div class="list-group">
        <a asp-action="BlogView" asp-controller="Home" asp-route-id="@item.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">@Html.DisplayFor(modelItem => item.Title)</h6>
                    <p class="mb-0 opacity-75">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
</div>
}